body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  background: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 17px 32px;
  border-radius: 16px;
}

.element-animation {
  opacity: 0;
}
.element-animation.element-show {
  opacity: 1;
  transition: 1s ease 0.1s;
  transform: translate(0, 0) !important;
}

header {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  color: #fff;
}

nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  background: #202020;
  padding: 25px 0;
  color: #fff;
}
nav .container {
  display: grid;
  gap: 180px;
  grid-template-columns: 375px 215px auto;
}

.nav__menu {
  gap: 34px;
  justify-content: unset;
  flex-grow: 0;
  flex-shrink: 2;
}

.nav__link {
  transition: 0.2s;
}
.nav__link:hover {
  color: #ee141f;
}

.nav__logo {
  max-width: 210px;
  text-align: center;
}

.nav__phone {
  gap: 20px;
  justify-content: flex-end;
}

.header__main {
  padding-top: 85px;
  overflow: hidden;
}
.header__main .container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header__main .container::after {
  position: absolute;
  content: url(../img/Vector-v.svg);
  top: -85px;
  right: 0;
}

.header__title {
  margin: 0 auto;
  max-width: 660px;
}
.header__title h1 {
  font-weight: 1000;
  font-size: 52px;
  line-height: 65px;
  text-align: center;
  margin-bottom: 25px;
}

.header__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
.header__descr span {
  font-weight: 700;
  color: #ee141f;
}

.header__btns {
  margin: 68px auto 14px;
  display: flex;
  gap: 23px;
  justify-content: center;
}

.header__price {
  background: #ee141f;
  transition: 0.2s;
}
.header__price:hover {
  transform: scale(1.1);
}

.car {
  margin-right: -50vw;
  margin-left: auto;
  max-width: 809px;
  opacity: 1;
}
.car.element-show {
  margin-right: -45px;
}

.header__learn-more {
  border: 1px solid #fff;
  transition: 0.2s;
}
.header__learn-more:hover {
  background: #fff;
  color: #202020;
  transform: scale(1.1);
}

.header__sidebar {
  position: absolute;
  gap: 58px;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
}
.header__sidebar .vector {
  transform: rotate(180deg) translate(-12px, 0);
}

.header__social {
  gap: 53px;
  flex-direction: column;
}

.header__link {
  transition: 0.2s;
}
.header__link:hover svg path {
  fill: #fff;
}

.about {
  height: 100vh;
}

.section__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
  position: relative;
}
.section__title::after {
  content: url(../img/Vector.svg);
  bottom: -42px;
  position: absolute;
  left: -30%;
}

.advantages {
  padding-bottom: 180px;
}
.advantages .section__title--right {
  grid-area: b;
}

.advantages__wrapper {
  display: grid;
  grid-template-areas: "a . b" "c d e" "f g h";
  gap: 41px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.advantages__item {
  padding: 32px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  height: 84px;
}
.advantages__item:nth-child(1) {
  grid-area: a;
}
.advantages__item:nth-child(3) {
  grid-area: c;
}
.advantages__item:nth-child(4) {
  grid-area: d;
}
.advantages__item:nth-child(5) {
  grid-area: e;
}
.advantages__item:nth-child(6) {
  grid-area: f;
}
.advantages__item:nth-child(7) {
  grid-area: g;
}
.advantages__item:nth-child(8) {
  grid-area: h;
}

.advantages__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  max-width: 372px;
}

.advantages__img {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  z-index: 2;
}

.section__title--right::after {
  content: url(../img/Vector.svg);
  bottom: -22px;
  position: absolute;
  right: -20%;
  transform: rotate(180deg);
}

.callback {
  position: relative;
  padding-bottom: 200px;
}
.callback::after {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.callback__wrapper {
  display: flex;
  justify-content: space-between;
}

.callback__title {
  max-width: 377px;
}
.callback__title .section__title {
  margin-bottom: 103px;
  max-width: 330px;
}
.callback__title p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

form {
  background: #ee141f;
  border-radius: 80px;
  padding: 64px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 532px;
}
form input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
form input::placeholder,
form label {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
form input {
  background: none;
  border: none;
  border-bottom: 1px #fff solid;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
form input[name=name] {
  margin-bottom: 32px;
}
form label {
  margin: 45px 0 64px;
  display: flex;
  gap: 16px;
  align-items: center;
}
form label input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
form button {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #ee141f;
  border: none;
  background: #fff;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
  transition: 0.2s;
}
form button:hover {
  background: #202020;
  color: #fff;
  transform: scale(1.1);
}

footer .container {
  display: block;
}

.nav__contacts {
  gap: 75px;
}
.nav__contacts li.flex {
  gap: 16px;
}

.nav__contacts-link {
  gap: 16px;
}
.nav__contacts-link img {
  transition: 0.2s;
}
.nav__contacts-link img:hover {
  transform: scale(1.1);
}

.footer__text {
  margin-top: 62px;
  color: #888c90;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
}
.popup--active {
  display: flex;
}
.popup--active .popup__container {
  animation: popup 0.2s linear;
}

.popup__container {
  padding: 70px 52px 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 80px;
  gap: 52px;
}
.popup__container img {
  max-width: 128px;
  margin-bottom: 52px;
}
.popup__container .popup__title,
.popup__container .popup__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__container h4 {
  font-weight: 900;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 24px;
}
.popup__container p {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.popup__container .line {
  width: 82px;
  height: 2px;
  background: #ee141f;
}
.popup__container small {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}
.popup__container a {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  transition: 0.2s;
}
.popup__container a:hover {
  color: #ee141f;
}
.popup__container .btn {
  border: 1px solid #202020;
  cursor: pointer;
  transition: 0.2s;
}
.popup__container .btn:hover {
  background: #202020;
  color: #fff;
}

@keyframes popup {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */