* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  background: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 17px 32px;
  border-radius: 16px;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
}

.element-animation {
  opacity: 0;
}
.element-animation.element-show {
  opacity: 1;
  transition: 1s ease 0.1s;
  transform: translate(0, 0) !important;
}

header {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  color: #fff;
}

nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  background: #202020;
  padding: 25px 0;
  color: #fff;
}
nav .container {
  display: grid;
  gap: 180px;
  grid-template-columns: 340px 215px auto;
}

.nav__menu {
  gap: 34px;
  justify-content: unset;
  flex-grow: 0;
  flex-shrink: 2;
}

.nav__link {
  transition: 0.2s;
}
.nav__link:hover {
  color: #ee141f;
}

.nav__logo {
  max-width: 210px;
  text-align: center;
}

.nav__phone {
  gap: 20px;
  justify-content: flex-end;
}

.header__main {
  padding-top: 85px;
  overflow: hidden;
}
.header__main .container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header__main .container::after {
  position: absolute;
  content: url(../img/Vector-v.svg);
  top: -85px;
  right: 0;
}

.header__title {
  margin: 0 auto;
  max-width: 660px;
}
.header__title h1 {
  font-weight: 1000;
  font-size: 52px;
  line-height: 65px;
  text-align: center;
  margin-bottom: 25px;
}

.header__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #b0b0b0;
}
.header__descr span {
  font-weight: 700;
  color: #ee141f;
}

.header__btns {
  margin: 68px auto 14px;
  display: flex;
  gap: 23px;
  justify-content: center;
}

.header__price {
  background: #ee141f;
  transition: 0.2s;
}
.header__price:hover {
  transform: scale(1.1);
}

.car {
  margin-right: -50vw;
  margin-left: auto;
  max-width: 809px;
  opacity: 1;
}
.car.element-show {
  margin-right: -45px;
}

.header__learn-more {
  border: 1px solid #fff;
  transition: 0.2s;
}
.header__learn-more:hover {
  background: #fff;
  color: #202020;
  transform: scale(1.1);
}

.header__sidebar {
  position: absolute;
  gap: 58px;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
}
.header__sidebar .vector {
  transform: rotate(180deg) translate(-12px, 0);
}

.header__social {
  gap: 53px;
  flex-direction: column;
}

.header__link {
  transition: 0.2s;
}
.header__link:hover svg path {
  fill: #fff;
}

.about {
  padding-top: 240px;
}
.about h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 74px;
}

.red-span {
  position: relative;
}
.red-span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10%;
  background: linear-gradient(91.05deg, #ee141f 0%, rgba(255, 255, 255, 0) 100%);
  width: 442px;
  height: 33px;
  z-index: -1;
}

.section__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
  position: relative;
}

.advantages {
  position: relative;
  padding: 300px 0;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: calc((100vw - 1240px) / 2);
  gap: 124px;
}

.advantages__content {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  flex-grow: 1;
  flex-basis: 75%;
  color: #fff;
  padding: 86px 89px 94px 0px;
  padding-left: calc((100vw - 1240px) / 2);
  background-color: #202020;
  background-image: url(../img/advantages_bg.png);
  border-radius: 0 80px 80px 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.advantages__content p:first-child {
  max-width: 462px;
}
.advantages__content > p + p {
  margin-top: 60px;
  max-width: 620px;
}

.bold {
  font-weight: 700;
  font-size: 23px;
}

.span-grey {
  position: relative;
  z-index: 10;
  white-space: nowrap;
}
.span-grey::after {
  content: "";
  position: absolute;
  width: 150px;
  max-width: 50%;
  height: 100%;
  background: linear-gradient(91.05deg, #888888 0%, rgba(0, 0, 0, 0) 100%);
  left: 0;
  top: 0;
  z-index: -1;
}

.advantages__numbers {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.advantages__item {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.advantages__number {
  font-weight: 900;
  font-size: 42px;
  line-height: 53px;
}

.number {
  font-weight: 900;
  font-size: 82px;
  line-height: 103px;
}

.benefits {
  padding-bottom: 270px;
}

.benefits__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.benefits__item {
  background-repeat: no-repeat;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 24px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 473px;
  background-position: 50% 100px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
}

.callback {
  position: relative;
  padding-bottom: 200px;
}
.callback::after {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.callback__wrapper {
  display: flex;
  justify-content: space-between;
}

.callback__title {
  max-width: 377px;
}
.callback__title h2 {
  margin-bottom: 32px;
  max-width: 330px;
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
}
.callback__title p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

form {
  background: #ee141f;
  border-radius: 80px;
  padding: 64px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 660px;
}
form input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
form input::placeholder,
form label {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
form input {
  background: none;
  border: none;
  border-bottom: 1px #fff solid;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
form input[name=name] {
  margin-bottom: 32px;
}
form label {
  margin: 45px 0 64px;
  display: flex;
  gap: 16px;
  align-items: center;
}
form label input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
form button {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #ee141f;
  border: none;
  background: #fff;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
  transition: 0.2s;
}
form button:hover {
  background: #202020;
  color: #fff;
  transform: scale(1.1);
}

footer .container {
  display: block;
}

.nav__contacts {
  gap: 75px;
}
.nav__contacts li.flex {
  gap: 16px;
}

.nav__contacts-link {
  gap: 16px;
}
.nav__contacts-link img {
  transition: 0.2s;
}
.nav__contacts-link img:hover {
  transform: scale(1.1);
}

.footer__text {
  margin-top: 62px;
  color: #888c90;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
}
.popup--active {
  display: flex;
}
.popup--active .popup__container {
  animation: popup 0.2s linear;
}

.popup__container {
  padding: 70px 52px 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 80px;
  gap: 52px;
}
.popup__container img {
  max-width: 128px;
  margin-bottom: 52px;
}
.popup__container .popup__title,
.popup__container .popup__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__container h4 {
  font-weight: 900;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 24px;
}
.popup__container p {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.popup__container .line {
  width: 82px;
  height: 2px;
  background: #ee141f;
}
.popup__container small {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}
.popup__container a {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  transition: 0.2s;
}
.popup__container a:hover {
  color: #ee141f;
}
.popup__container .btn {
  border: 1px solid #202020;
  cursor: pointer;
  transition: 0.2s;
}
.popup__container .btn:hover {
  background: #202020;
  color: #fff;
}

@keyframes popup {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .advantages__wrapper {
    padding-right: calc((100vw - 1140px) / 2);
  }
  .advantages__content {
    padding: 86px 89px 94px 0px;
    padding-left: calc((100vw - 1140px) / 2);
  }
  nav .container {
    gap: 120px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .advantages {
    padding: 222px 0 247px;
  }
  .advantages__wrapper {
    padding-right: calc((100vw - 960px) / 2);
  }
  .advantages__content {
    padding: 63px 9px 88px 0px;
    padding-left: calc((100vw - 960px) / 2 + 18px);
    font-size: 16px;
    line-height: 24px;
  }
  .advantages__content > p + p {
    margin-top: 44px;
  }
  .advantages__item {
    font-size: 18px;
    line-height: 23px;
  }
  .advantages__number {
    font-size: 32px;
    line-height: 40px;
  }
  .number {
    font-size: 72px;
  }
  .bold {
    font-size: 16px;
    line-height: 24px;
  }
  nav {
    font-size: 16px;
    line-height: 20px;
  }
  nav .container {
    gap: 70px;
    grid-template-columns: 308px 215px auto;
  }
  .nav__menu {
    gap: 24px;
  }
  .header__title h1 {
    font-size: 38px;
    line-height: 36px;
  }
  .header__descr {
    font-size: 16px;
    line-height: 20px;
  }
  .header__btns {
    margin-top: 62px;
  }
  .car {
    width: 630px;
    margin-top: 43px;
  }
  .about {
    padding-top: 214px;
  }
  .about h2 {
    font-size: 43px;
    line-height: 68px;
  }
  .benefits {
    padding-bottom: 223px;
  }
  .benefits__item {
    min-width: 142px;
    font-size: 16px;
    line-height: 22px;
    height: 395px;
  }
  .callback {
    padding-bottom: 83px;
  }
  .callback::after {
    bottom: -35%;
  }
  .callback__title h2 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 24px;
  }
  .callback__title p {
    font-size: 18px;
    line-height: 23px;
  }
  form {
    padding: 24px 20px;
    border-radius: 40px;
    flex-grow: 0;
  }
  form input {
    padding: 16px 20px;
  }
  form label {
    margin: 32px 0;
  }
  form input::-moz-placeholder {
    font-size: 14px;
    line-height: 20px;
  }
  form input::placeholder,
  form label {
    font-size: 14px;
    line-height: 20px;
  }
  form input[name=name] {
    margin-bottom: 17px;
  }
  footer .nav__contacts {
    gap: 24px;
  }
  .footer__text {
    font-size: 14px;
    line-height: 18px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .advantages {
    padding: 172px 0 181px;
  }
  .advantages__wrapper {
    padding-right: calc((100vw - 720px) / 2);
    gap: 74px;
  }
  .advantages__content {
    padding: 63px 33px 56px 0px;
    padding-left: calc((100vw - 720px) / 2);
    min-width: 40%;
  }
  nav .container {
    gap: 22px;
    grid-template-columns: 274px 144px auto;
  }
  .nav__logo {
    max-width: 141px;
    display: flex;
    align-items: center;
  }
  .nav__logo img {
    width: 100%;
  }
  .nav__menu {
    gap: 18px;
  }
  .header__title {
    max-width: 435px;
  }
  .header__title h1 {
    font-size: 34px;
  }
  .header__sidebar {
    top: -5%;
  }
  .red-span {
    white-space: nowrap;
  }
  .red-span::after {
    width: 60%;
    height: 50%;
  }
  .about {
    padding-top: 161px;
  }
  .benefits__wrapper {
    display: grid;
    grid-template-areas: "a a a b b b" " c c d d e e";
    flex-wrap: wrap;
  }
  .benefits__item {
    height: 293px;
    width: unset;
    min-width: 214px;
    flex-grow: 1;
  }
  .benefits__item:nth-child(1) {
    grid-area: a;
  }
  .benefits__item:nth-child(2) {
    grid-area: b;
  }
  .benefits__item:nth-child(3) {
    grid-area: c;
  }
  .benefits__item:nth-child(4) {
    grid-area: d;
  }
  .benefits__item:nth-child(5) {
    grid-area: e;
  }
  .callback__wrapper {
    gap: 50px;
  }
  footer nav {
    font-size: 14px;
    line-height: 18px;
  }
  .footer__text {
    margin-top: 44px;
  }
}
@media screen and (max-width: 760px) {
  .container {
    max-width: 540px;
  }
  .advantages {
    padding: 105px 0 123px;
  }
  .advantages__wrapper {
    padding-right: 15px;
    flex-direction: column;
  }
  .advantages__content {
    padding: 86px 89px 94px 0px;
    padding-left: calc((100vw - 540px) / 2);
  }
  .advantages__numbers {
    max-width: 540px;
    margin: 0 auto;
  }
  nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav__menu {
    flex-basis: 100%;
    order: 10;
    justify-content: center;
    gap: 24px;
  }
  .nav__phone {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
  }
  .nav__phone img {
    width: 56px;
    height: 56px;
  }
  .nav__phone span {
    display: none;
  }
  .car {
    order: 4;
    width: 356px;
  }
  .header__sidebar {
    justify-content: center;
    flex-direction: row;
    max-width: unset;
    order: 2;
    position: static;
    margin-top: 42px;
  }
  .header__sidebar .vector {
    display: none;
  }
  .header__social {
    flex-direction: row;
  }
  .header__main {
    padding-top: 54px;
  }
  .header__main .container::after {
    display: none;
  }
  .about {
    padding-top: 120px;
  }
  .about h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .benefits {
    padding-bottom: 147px;
  }
  .benefits__wrapper {
    grid-template-areas: "a b" "c d" "e e";
    grid-template-columns: 1fr 1fr;
  }
  .callback__wrapper {
    flex-direction: column;
  }
  footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
  footer input[name=name] {
    margin-bottom: 12px;
  }
  footer nav .nav__wrapper {
    flex-direction: column;
    gap: 49px;
    align-items: flex-start;
  }
  footer nav .nav__menu {
    order: -1;
  }
  footer nav .nav__contacts {
    flex-wrap: wrap;
    gap: 16px;
  }
  .popup {
    padding: 15px;
  }
  .popup__container {
    padding: 24px 16px;
    text-align: center;
    gap: 32px;
  }
  .popup__container img {
    max-width: 102px;
    margin-bottom: 22px;
  }
  .popup__container h4 {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 16px;
  }
  .popup__container small {
    font-size: 16px;
    line-height: 20px;
  }
  .popup__container a {
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .advantages__wrapper {
    padding: 15px;
  }
  .advantages__content {
    padding: 0px;
  }
  .header__btns {
    flex-direction: column;
    text-align: center;
  }
  .benefits__wrapper {
    grid-template-areas: "a" "b" "c" "d" "e";
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages__content {
    padding: 63px 15px 55px;
    background-size: contain;
    border-radius: 0;
  }
  .advantages__wrapper {
    padding: 0;
  }
  .advantages__numbers {
    padding: 0 15px;
    margin: 0;
    max-width: unset;
  }
}/*# sourceMappingURL=style.css.map */