$red-color: #ee141f;
$transition: 0.2s;
$black-color: #202020;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    background: #f4f4f4;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
div {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
main {
    overflow: hidden;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 17px 32px;
    border-radius: 16px;
}
.element-animation {
    opacity: 0;
    &.element-show {
        opacity: 1;
        transition: 1s ease 0.1s;
        transform: translate(0, 0) !important;
    }
}
header {
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    color: #fff;
}
nav {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    background: $black-color;
    padding: 25px 0;
    color: #fff;
    .container {
        display: grid;
        gap: 180px;
        grid-template-columns: 375px 215px auto;
    }
}
.nav__menu {
    gap: 34px;
    justify-content: unset;
    flex-grow: 0;
    flex-shrink: 2;
}
.nav__link {
    transition: $transition;
    &:hover {
        color: $red-color;
    }
}
.nav__logo {
    max-width: 210px;
    text-align: center;
}
.nav__phone {
    gap: 20px;
    justify-content: flex-end;
}
.header__main {
    padding-top: 85px;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        &::after {
            position: absolute;
            content: url(../img/Vector-v.svg);
            top: -85px;
            right: 0;
        }
    }
}
.header__title {
    margin: 0 auto;
    max-width: 660px;
    h1 {
        font-weight: 1000;
        font-size: 52px;
        line-height: 65px;
        text-align: center;
        margin-bottom: 25px;
    }
}
.header__descr {
    span {
        font-weight: 700;
        color: $red-color;
    }
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}
.header__btns {
    margin: 68px auto 14px;
    display: flex;
    gap: 23px;
    justify-content: center;
}
.header__price {
    background: $red-color;
    transition: $transition;
    &:hover {
        // background: #cb0f18;
        transform: scale(1.1);
    }
}
.car {
    margin-right: -50vw;
    margin-left: auto;
    max-width: 809px;
    opacity: 1;
    &.element-show {
        margin-right: -45px;
    }
}

.header__learn-more {
    border: 1px solid #fff;
    transition: $transition;
    &:hover {
        background: #fff;
        color: $black-color;
        transform: scale(1.1);
    }
}
.header__sidebar {
    position: absolute;
    gap: 58px;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    .vector {
        transform: rotate(180deg) translate(-12px, 0);
    }
}
.header__social {
    gap: 53px;
    flex-direction: column;
}
.header__link {
    transition: $transition;
    &:hover {
        svg {
            path {
                fill: #fff;
            }
        }
    }
}
.about {
    height: 100vh;
}
.section__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 65px;
    position: relative;
    &::after {
        content: url(../img/Vector.svg);
        bottom: -42px;
        position: absolute;
        left: -30%;
    }
}
.advantages {
    padding-bottom: 180px;
    .section__title--right {
        grid-area: b;
    }
}
.advantages__wrapper {
    display: grid;
    grid-template-areas:
        "a . b"
        "c d e"
        "f g h";
    gap: 41px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.advantages__item {
    padding: 32px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    height: 84px;
    &:nth-child(1) {
        grid-area: a;
    }
    &:nth-child(3) {
        grid-area: c;
    }
    &:nth-child(4) {
        grid-area: d;
    }
    &:nth-child(5) {
        grid-area: e;
    }
    &:nth-child(6) {
        grid-area: f;
    }
    &:nth-child(7) {
        grid-area: g;
    }
    &:nth-child(8) {
        grid-area: h;
    }
}
.advantages__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    max-width: 372px;
}
.advantages__img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    z-index: 2;
}
.section__title--right {
    &::after {
        content: url(../img/Vector.svg);
        bottom: -22px;
        position: absolute;
        right: -20%;
        transform: rotate(180deg);
    }
}
.callback {
    position: relative;
    padding-bottom: 200px;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transform: rotate(180deg);
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.callback__wrapper {
    display: flex;
    justify-content: space-between;
}
.callback__title {
    max-width: 377px;
    .section__title {
        margin-bottom: 103px;
        max-width: 330px;
    }
    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
}
form {
    background: $red-color;
    border-radius: 80px;
    padding: 64px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 532px;
    input::placeholder,
    label {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #fff;
    }
    input {
        background: none;
        border: none;
        border-bottom: 1px #fff solid;
        padding: 20px 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #fff;
        &[name="name"] {
            margin-bottom: 32px;
        }
    }
    label {
        margin: 45px 0 64px;
        display: flex;
        gap: 16px;
        align-items: center;
        input {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    button {
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        color: $red-color;
        border: none;
        background: #fff;
        max-width: fit-content;
        cursor: pointer;
        transition: $transition;
        &:hover {
            background: $black-color;
            color: #fff;
            transform: scale(1.1);
        }
    }
}
footer {
    .container {
        display: block;
    }
}
.nav__contacts {
    gap: 75px;
    li.flex {
        gap: 16px;
    }
}
.nav__contacts-link {
    gap: 16px;
    img {
        transition: $transition;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.footer__text {
    margin-top: 62px;
    color: #888c90;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(12px);
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
    &--active {
        display: flex;
        .popup__container {
            animation: popup 0.2s linear;
        }
    }
}
.popup__container {
    padding: 70px 52px 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 80px;
    gap: 52px;
    img {
        max-width: 128px;
        margin-bottom: 52px;
    }
    .popup__title,
    .popup__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h4 {
        font-weight: 900;
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 24px;
    }
    p {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }
    .line {
        width: 82px;
        height: 2px;
        background: $red-color;
    }
    small {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    a {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        transition: $transition;
        &:hover {
            color: $red-color;
        }
    }
    .btn {
        border: 1px solid $black-color;
        cursor: pointer;
        transition: $transition;
        &:hover {
            background: $black-color;
            color: #fff;
        }
    }
}
@keyframes popup {
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
